# redis
alias redis-server="redis-server /usr/local/etc/redis.conf --daemonize yes"

#nvim
alias vi="nvim"
alias vim="nvim"

# shortcuts
alias hosts="sudo nvim /etc/hosts"

# nginx
alias nginx-conf="nvim /usr/local/etc/nginx/nginx.conf"
alias nginx-stop="sudo nginx -s stop"
alias nginx-start="sudo nginx"
alias nginx-restart="nginx-stop; nginx-start"
alias nginx-logs="tail -f /usr/local/var/log/nginx/*"
alias sites-available="cd /usr/local/etc/nginx/sites-available"
alias sites-enabled="cd /usr/local/etc/nginx/sites-enabled"

# mongodb
alias mongodb-start="mongod --config /usr/local/etc/mongod.conf"

# bundler
alias be="bundle exec"

#ls
alias ls="ls -G --color=auto"

# dotfiles
alias vimrc="nvim ~/.config/nvim/init.vim"
alias nvimrc="nvim ~/.config/nvim/init.vim"
alias tmuxrc="nvim ~/.tmux.conf"
alias zshrc="nvim ~/.zshrc"
alias sshrc="nvim ~/.ssh/config"
alias aliases="nvim ~/.aliases"

alias cgeos="CPATH=/usr/local/Cellar/geos/3.5.0/include LIBRARY_PATH=/usr/local/Cellar/geos/3.5.0/lib"

alias ps-stop="pkill postgres"
alias ps-start="/home/thomas.haddad/.asdf/installs/postgres/12.3/bin/pg_ctl -D /home/thomas.haddad/.asdf/installs/postgres/12.3/data -l logfile start"

#AWS CLI
alias aws-list-instances="aws ec2 describe-instances --query \"Reservations[*].Instances[0].{ID:InstanceId, ZONE:Placement.AvailabilityZone, STATE:State.Name, DNS:PrivateDnsName, TYPE:InstanceType, PRIVATEIP:PrivateIpAddress, PUBLICIP:PublicIpAddress, NAME:Tags[?Key=='Name'].Value|[0], CREATION:LaunchTime}\" --output table"
alias aws-list-stacks="aws cloudformation describe-stacks --query \"Stacks[*].{NAME:StackName, STATUS:StackStatus}\" --output table"
